body {
  background-color: #ffffff;
  color:  #212121;
  font-size: 30px;
  letter-spacing: 0.03em;
}

.form {
  padding: 94px 20px;
  margin: 0 auto;
  }

.form-label {
  font-size: 36px;
  padding-right: 20px;
  font-weight: 700;
}
.form-input {
  background-color: rgb(228, 236, 236);
  border: 1px solid rgb(171, 167, 224);
  border-radius: 4px;
}

.country-info{
  line-height: 1.5;
}

